package ${packageName}.mapstruct;

import ${packageName}.domain.${ClassName};
import ${packageName}.domain.bo.${ClassName}Bo;
import ${packageName}.domain.vo.${ClassName}Vo;
import org.mapstruct.Mapper;

import java.util.List;

@Mapper(componentModel = "spring")
public interface ${ClassName}StructMapper {

    ${ClassName} fromBo(${ClassName}Bo e);

    ${ClassName}Vo toVo(${ClassName} e);

    List<${ClassName}Vo> toVoList(List<${ClassName}> e);

}
